@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

$red : red;
$blue : blue;
$green : green;
$yellow : yellow;
$orange : orange;
$lime : lime;
$black : black;
$white : white;
$purple : purple;
$skyblue : skyblue;
$gray : gray;
$sliver : Silver;